:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--very-light-gray);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  border-radius: 10px;
  overflow: hidden;
}

.grid-card {
  color: white;
  padding: 50px;
  min-height: 500px;
  max-width: 300px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

h2 {
  font-family: "Big Shoulders Display";
  font-size: 40px;
  text-transform: uppercase;
  color: var(--very-light-gray);
}

.sedans {
  background-color: var(--bright-orange);
}

.suvs {
  background-color: var(--dark-cyan);
}

.luxury {
  background-color: var(--very-dark-cyan);
}

.grid-card-text {
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
}

.sedans .grid-card-text {
  color: var(--transparent-white);
}

.suvs .grid-card-text {
  color: var(--transparent-white);
}

.luxury .grid-card-text {
  color: var(--transparent-white);
}



.btn {
  padding: 15px;
  background-color: var(--very-light-gray);
  border-radius: 30px;
  border: none;
  max-width: 150px;
  font-weight: 600;
  margin-top: 80px;
  cursor: pointer;
}

.sedans .btn {
  color: var(--bright-orange);
}

.suvs .btn {
  color: var(--dark-cyan);
}

.luxury .btn {
  columns: var(--very-dark-cyan);
}

.btn:hover {
  border: var(--transparent-white) 2px solid;
  color: var(--transparent-white);
}

.sedans .btn:hover {
  background-color: var(--bright-orange);
}

.suvs .btn:hover {
  background-color: var(--dark-cyan);
}

.luxury .btn:hover {
  background-color: var(--very-dark-cyan);
}


@media(width < 375px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .btn{
    margin: 0;
  }
}