@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);

    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);

    --white: hsl(0, 0%, 100%);
    --white-background: hsl(0, 0%, 96%);
    --black: hsl(0, 0%, 7%);

    --fs-p: 18px;
    --fw-400: 400;
    --fw-500: 500;
    --line-h: 0.9;

    --br-box: 10px;
    --p-l-box: 40px;
    --p-m-box: 20px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--white-background);
}

section {
    max-width: 1100px;
    margin: 100px auto;

    display: flex;
    gap: 30px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.flex-container>*{
    border-radius: var(--br-box);
    min-height: 390px;
    padding: var(--p-m-box);
}

.create-quicker{
    background-color: var(--yellow-100);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

h4{
    font-size: 32px;
    font-weight: var(--fw-500);
    line-height: var(--line-h);
}

h4 span{
    color: var(--purple-500);
}

.AI-box{
    background-color: var(--yellow-500);
}

.AI{
    line-height: var(--line-h);
    margin-bottom: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-content: center;
    align-items: center;
    gap: 30px;

    max-width: 75%;
    /* VET IKKE OM JEG TRENGER DENNE */
}

.grid-container > *{
    height: 250px;
    border-radius: var(--br-box);
}

.main-box {
    background-color: var(--purple-500);
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

    text-align: center;
    padding: var(--p-l-box);

    grid-column: 1/3;
}

.main-box h1{
    font-size: 50px;
    font-weight: var(--fw-500);
    line-height: var(--line-h);

    margin-bottom: 10px;
}

.tix {
    color: var(--yellow-500);
}

.faster {
    font-style: italic;
}

.stars {
    max-width: 170px;
}

.manage-multiple {
    background-color: white;
    font-weight: var(--fw-500);
    padding: var(--p-m-box);

    display: flex;
    flex-direction: column;
    overflow: hidden;

    grid-column: 1/2;
}

.manage-multiple p, .maintain-schedule p{
    font-size: 30px;
    line-height: var(--line-h);
    font-weight: var(--fw-500);
}

.multiple-platforms {
    min-width: 300px;
    margin-bottom: 30px;
}

.maintain-schedule{
    background-color: var(--yellow-500);
    padding: var(--p-m-box);
    
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;

    position: relative;
}

.consistant-schedule{
    max-width: 200px;

    position: absolute;
    bottom: -50px;
}

.schedule-sm{
    background-color: var(--purple-100);
    padding: var(--p-m-box);
    min-height: 530px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;

    grid-column: 3/4;
    grid-row: 1/3;
}

.schedule-posts{
    min-width: 300px;
}

.follower-box{
    grid-column: 2/4;

    background-color: var(--purple-500);
    color: var(--white);
    padding: var(--p-m-box);

    display: flex;
    justify-content: center;
    align-items: center;
}

.grow-followers{
    max-height: 210px;
}

h2{
    font-size: 35px;
    line-height: var(--line-h);
    font-weight: var(--fw-500);
}

.audience{
    background-color: var(--white);
    padding: var(--p-m-box);

    grid-column: 1/2;
    grid-row: 3/4;
}

.tall{
    font-size: 60px;
    font-weight: var(--fw-500);
}

.audience-grow{
    margin-top: 30px;
}






@media (width < 375px){
    section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        padding: var(--p-m-box);
        margin: 0 auto;

        max-width: 100%;
    }

    .grid-container{
        display: flex;
        flex-direction: column;

        max-width: 100%;
    }

    .flex-container > *{
        min-height: auto;
        width: 100%;
    }

    .grid-container > *{
        height: auto;
        width: 100%;
    }

    .maintain-schedule{
        align-items: flex-start;
    }

    .consistant-schedule{
        position: relative;
    }

    .schedule-sm{
        text-align: center;
        align-items: center;
        min-height: auto;

        gap: 20px;
    }

    .schedule-posts{
        max-width: 100%;
    }

    h3{
        font-size: 23px;
    }

    .follower-box{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .audience-grow{
        max-width: 200px;
    }

    .create-post{
        max-width: 150px;
    }

    h4{
        font-size: 25px;
        font-weight: 600;
    }

    .AI{
        margin-bottom: 20px;
    }

    .ai-content{
        max-width: 200px;
    }
}