:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  display: block;
  max-width: 100%;
}

body{
  background-color: var(--very-light-gray);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  display: grid;
  grid-template-columns: repeat(3, 300px);

  overflow: hidden;
  border-radius: 7px;
}

.yellow{
  background-color: var(--bright-orange);
}

.blue{
  background-color: var(--dark-cyan);
}

.green{
  background-color: var(--very-dark-cyan);
}

.box{
  min-height: 500px;
  padding: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img{
  max-width: 80px;
}

p{
  color: var(--transparent-white);
  font-size: 15px;
  font-family: "Lexend Deca";
  font-weight: 400;
}

h1{
  color: var(--transparent-white);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  font-family: "Big Shoulders Display";
  font-weight: 700;
  text-transform: uppercase;
}

button{
  background-color: var(--transparent-white);
  font-family: "Lexend Deca";
  font-weight: 400;

  padding: 15px;
  max-width: 60%;
  font-weight: bold;

  border: none;
  border-radius: 30px;
}

.en{
  color: var(--bright-orange);
}

.to{
  color: var(--dark-cyan);
}

.tre{
  color: var(--very-dark-cyan);
}

@media (width < 375px){
  main{
    grid-template-columns: 1fr;
    margin: 50px 20px 50px 20px;
  }
}