* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --primary-soft-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);

  /* Neutral */
  --neutral-very-dark-blue-1: hsl(217, 54%, 11%);
  --neutral-very-dark-blue-2: hsl(216, 50%, 16%);
  --neutral-very-dark-blue-3: hsl(215, 32%, 27%);
  --neutral-white: hsl(0, 0%, 100%);
}

/* ===========================
   GLOBAL STYLES
   =========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}


body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  background-color: var(--neutral-very-dark-blue-2);

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}



  /* padding: 10px 60px;
  padding-bottom: 120px;
  background-color: var(--neutral-very-dark-blue-2);
  border-radius: 20px;

 */
.container {
  background-color: var(--neutral-very-dark-blue-2);
  max-width: 400px;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 30px 20px 20px var(--neutral-very-dark-blue-1);

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.bilde-container-hover{
  display: none;
}

.bilde-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bilde-container img{
  border-radius: 10px;
}

h1{
  color: var(--neutral-white);
  font-size: 23px;
}

p{
  color: var(--primary-soft-blue);
  min-width: 100px;
}

.flex-group{
  display: flex;
  justify-content: space-between;
}

.eth{
  display: flex;
  gap: 10px;
}

.eth p{
  font-weight: 600;
  color: var(--primary-cyan);
}

.time{
  display: flex;
  gap: 10px;
}


.creation{
  display: flex;
  gap: 20px;
  align-items: center;

  border-top: 1px solid var(--neutral-very-dark-blue-3);
  padding-top: 15px;
}

.bold-white{
  font-weight: 500;
  color: var(--neutral-white);
}

.avatar-container img{
  max-width: 40px;
  border: 1px var(--neutral-white) solid;
  border-radius: 20px;
}


.bilde-container img:hover{
  cursor: pointer;
  .bilde-container-hover{
    display: block;
  }
}

h1:hover{
  color: var(--primary-cyan);
  cursor: pointer;
}

.bold-white:hover{
  cursor: pointer;
  color: var(--primary-cyan);
}
