@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

img {
    max-width: 100%;
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --clr-primary-500: hsl(256, 67%, 59%);
    --clr-primary-100: hsl(254, 88%, 90%);

    --clr-secondary-500: hsl(39, 100%, 71%);
    --clr-secondary-100: hsl(31, 66%, 93%);

    --clr-neutral-0: hsl(0, 0%, 100%);
    --clr-neutral-100: hsl(0, 9%, 96%);
    --clr-neutral-999: hsl(0, 0%, 7%)
}

p {
    font-size: 18px;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: var(--clr-neutral-100);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.flex-container {
    display: flex;
    max-width: 1100px;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;

}

.grid-card {
    border-radius: 10px;
    max-height: 280px;

    padding: 20px;
}

/* TITLE-BOX */

.top-title {
    grid-column: 1/3;

    background-color: var(--clr-primary-500);
    color: var(--clr-neutral-0);
    min-height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-content {
    line-height: 50px;
}

.title-content p {
    color: var(--clr-primary-100);
}

.stars {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.top-title img {
    max-width: 200px;
}


h1 {
    font-size: 50px;
    font-weight: 500;

}

.title-10x {
    color: var(--clr-secondary-500);
}

.title-italic {
    font-style: italic;
}


/* INSTA-BOX */
.mid-insta {
    grid-column: 1/2;

    background-color: var(--clr-neutral-0);
    color: var(--clr-neutral-999);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

h4 {
    font-size: 25px;
    font-weight: 700;
    line-height: 28px;
    max-width: 190px;

}

.insta-bilde {
    position: relative;
}

.insta-bilde img {
    border-radius: 20px;
    min-width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;

    position: absolute;

}


/* YELLOW-BOX */
.mid-yellow {
    grid-column: 2/3;

    background-color: var(--clr-secondary-500);
    color: var(--clr-neutral-999);

    position: relative;
    overflow: hidden;
}

.mid-yellow img {
    position: absolute;
    top: 180px;
    left: 0px;

    padding: 0 20px;
}


/* RIGHT-PURPLE-BOX */
.right-purple {
    grid-column: 3/4;
    grid-row: 1/3;
    max-width: 280px;

    background-color: var(--clr-primary-100);
    color: var(--clr-neutral-999);
    min-height: fit-content;
    min-height: 600px;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    gap: 20px;
    padding: 50px 30px;

}

.right-bilde {
    min-width: 360px;
}

.right-bilde img {
    aspect-ratio: 1/1;
    object-fit: cover;
}



/* BOTTOM-PURPLE-BOX */
.bottom-purple {
    grid-column: 2/4;

    background-color: var(--clr-primary-500);
    color: var(--clr-neutral-0);

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.bottom-purple h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 28px;
}



/* BOTTOM-PERCENT-BOX */

.bottom-percent {
    grid-column: 1/2;
    grid-row: 3/4;

    background-color: var(--clr-neutral-0);
    color: var(--clr-neutral-999);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bottom-percent :first-child {
    font-size: 50px;
    font-weight: 550;
}





/* LEFT-SECTION */
.left-section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;

    margin-right: 20px;
}

/* LEFT-SECTION-MEDIA */
.media {
    display: none;
}



/* TOP-CREATE-BOX */
.top-create {
    min-height: 445px;
    min-width: 260px;

    background-color: var(--clr-secondary-100);

    display: flex;
    align-items: center;

}

.create-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h3 {
    font-size: 35px;
    font-weight: 500;
    line-height: 32px;
    max-width: 210px;
}

.purple-italic-text {
    color: var(--clr-primary-500);
    font-style: italic;
}

.create-bilde {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-bilde img {
    width: 170px;
}




/* BOTTOM-AI-SECTION */

.bottom-ai {
    min-height: 445px;
    min-width: 260px;

    background-color: var(--clr-secondary-500);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* MEDIA */

@media(width < 375px) {

    .flex-container {
        flex-direction: column;
    }

    .grid-section{
        margin: 0 100px;
    }

    .grid-card{
        border-radius: 20px;
    }

    .left-section {
        display: none;
    }

    .media {
        display: block;
    }

    .grid-section {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.3fr 0.4fr 0.75fr 0.5fr 0.25fr 0.25fr 0.5fr;
        /*  grid-template-rows: repeat(8, 1fr); */
    }


    /* GRID-CARDS */

    .top-title {
        grid-column: 1/2;
        grid-row: 1/2;
        max-height: none;

    }

    h1 {
        font-size: 40px;
    }

    .mid-insta {
        grid-column: 1/2;
        grid-row: 2/3;
        max-height: none;
    }

    h4 {
        max-width: none;
        line-height: 25px;
    }


    .mid-yellow {
        grid-column: 1/2;
        grid-row: 3/4;
        max-height: none;
    }

    .mid-yellow img {
        max-width: 270px;
        top: 90px;
    }


    .right-purple {
        grid-column: 1/2;
        grid-row: 4/5;
        min-height: none;
        max-width: none;
        overflow: visible;
        text-align: center;
    }

    .right-bilde {
        min-width: 340px;
    }




    .bottom-purple {
        grid-column: 1/2;
        grid-row: 5/6;
        max-height: none;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .bottom-purple h2 {
        text-align: center;
        max-width: 340px;
    }

    .bottom-bilde {
        display: flex;


        justify-content: center;
        align-items: center;
    }

    .bottom-purple img {
        max-width: 260px;
    }

    .bottom-percent {
        grid-column: 1/2;
        grid-row: 6/7;
        max-height: none;
        gap: 20px;
        padding: 30px;
    }

    .top-create {
        grid-column: 1/2;
        grid-row: 7/8;
        max-height: none;
        min-height: none;

        max-width: 375px;
    }

    .bottom-ai {
        grid-column: 1/2;
        grid-row: 8/9;
        max-height: none;
        min-height: none;

        max-width: 375px;
    }

}